
      <div class="card contact_card">
        <div class="wrapper_card">
          <h3  id="contact">Contact</h3>
          <span class="email">darlanric@gmail.com</span><br><br><br>
          <a href="https://twitter.com/DarlanR" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://drdrafts.tumblr.com" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
          <a href="https://github.com/DarlanRic" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://instagram.com/darlanric2" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
          <a id="resume" href="https://www.docdroid.net/w7FLyrb/resume-darlan-ricardo.pdf.html" target="_blank">Full Resumé</a>
        </div>
      </div>
