
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/icecream.jpg"><img src="{{site.baseurl}}/assets/illustrations/icecream.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/backpack.jpg"><img src="{{site.baseurl}}/assets/illustrations/backpack.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/iconsThrow.jpg"><img src="{{site.baseurl}}/assets/illustrations/iconsThrow.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/whaleCloud.jpg"><img src="{{site.baseurl}}/assets/illustrations/whaleCloud.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/lolipop.jpg"><img src="{{site.baseurl}}/assets/illustrations/lolipop.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/hands_pro.gif"><img src="{{site.baseurl}}/assets/illustrations/hands_pro.gif" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/apple.jpg"><img src="{{site.baseurl}}/assets/illustrations/apple.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/sunsett.jpg"><img src="{{site.baseurl}}/assets/illustrations/sunsett.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/little_cityy.jpg"><img src="{{site.baseurl}}/assets/illustrations/little_cityy.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/illustrations/citysummitIllustrations.jpg"><img src="{{site.baseurl}}/assets/illustrations/citysummitIllustrations.jpg" alt="img_design"></a>
