
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/moviesnow.jpg"><img src="{{site.baseurl}}/assets/designs/moviesnow.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/success-error6.jpg"><img src="{{site.baseurl}}/assets/designs/success-error6.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/showcase.jpg"><img src="{{site.baseurl}}/assets/designs/showcase.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/showcasemusic.jpg"><img src="{{site.baseurl}}/assets/designs/showcasemusic.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/showcasemsc.jpg"><img src="{{site.baseurl}}/assets/designs/showcasemsc.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/showcasetodo.jpg"><img src="{{site.baseurl}}/assets/designs/showcasetodo.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/trees.jpg"><img src="{{site.baseurl}}/assets/designs/trees.jpg" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/iconapps.png"><img src="{{site.baseurl}}/assets/designs/iconapps.png" alt="img_design"></a>
          <a class="fancybox" href="{{site.baseurl}}/assets/designs/city_summit2.jpg"><img src="{{site.baseurl}}/assets/designs/city_summit2.jpg" alt="img_design"></a>
